---
import InAppLayout from "../../layouts/InAppLayout.astro";
import TermsContent from "../../components/TermsContent.astro";
---

<InAppLayout
  title="Terms of Service - Chrima App"
  description="Terms of service and usage conditions for the Chrima expense tracking app"
>
  <main class="py-12 sm:py-16">
    <TermsContent />
  </main>
</InAppLayout> 