@import "tailwindcss";

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #1A1A1A;
  min-height: 100vh;
  font-family: 'Sora', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #84CC16;
  font-family: 'Sora', sans-serif;
}

.subtitle, 
p {
  color: #E5E5E5;
}